@{
    ViewData["Title"] = "Create";
}
<h2>Создание пользователя:</h2>
<form method="post" asp-controller="Inventory" asp-action="AddInventory">
    <div class="form-group">
        <label for="client_name">Название:</label>
        <input type="text" class="form-control" name="client_name">
    </div>

    <div>
        <button type="submit" class="btn btn-success">Добавить</button>
    </div>
</form>

