@model Module1.Models.Inventory
@{
    ViewBag.Title = "Редактирование инвентаря";
}
<form method="post" asp-controller="Inventory" asp-action="EditInventory" asp-route-id="@Model.Id">
    <div class="form-group">
        <label for="client_name">Доступен?:</label>
        <input type="checkbox" class="form-control" name="isAvailable" value="@Model.IsAvaliable">
    </div>
    <div>
        <button type="submit" class="btn btn-success">Отправить!</button>
    </div>
</form>